In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [33]:
df_LA = pd.read_csv("la_2018.csv")
df_LA.drop_duplicates()

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,start_station_name,end_station_name
0,2018-01-01 00:04:00,2018-01-01 00:25:00,3063,3018,5889,Walk-up,Pershing Square,Grand & Olympic
1,2018-01-01 00:05:00,2018-01-01 00:25:00,3063,3018,6311,Walk-up,Pershing Square,Grand & Olympic
2,2018-01-01 00:06:00,2018-01-01 00:25:00,3063,3018,5753,Walk-up,Pershing Square,Grand & Olympic
3,2018-01-01 00:13:00,2018-01-01 00:35:00,3018,3031,6220,Monthly Pass,Grand & Olympic,7th & Spring
4,2018-01-01 00:14:00,2018-01-01 00:59:00,4204,4216,12436,Monthly Pass,Washington & Abbot Kinney,17th St / SMC E Line Station
...,...,...,...,...,...,...,...,...
311889,2018-12-31 23:46:00,2018-12-31 23:55:00,3069,3069,6222,Walk-up,Broadway & 3rd,Broadway & 3rd
311890,2018-12-31 23:47:00,2018-12-31 23:54:00,3069,3069,5730,Walk-up,Broadway & 3rd,Broadway & 3rd
311891,2018-12-31 23:51:00,2019-01-01 01:28:00,4211,4210,12347,Walk-up,Pacific & North Venice,Ocean Front Walk & North Venice
311892,2018-12-31 23:54:00,2019-01-01 00:22:00,3005,3082,12128,Walk-up,7th & Flower,Traction & Rose
311893,2018-12-31 23:56:00,2019-01-01 00:22:00,3005,3082,12017,Walk-up,7th & Flower,Traction & Rose

In [34]:
df_LA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311894 entries, 0 to 311893
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   start_time          311894 non-null  object
 1   end_time            311894 non-null  object
 2   start_station_id    311894 non-null  int64
 3   end_station_id      311894 non-null  int64
 4   bike_id             311894 non-null  int64
 5   user_type           311894 non-null  object
 6   start_station_name  311894 non-null  object
 7   end_station_name    311894 non-null  object
dtypes: int64(3), object(5)
memory usage: 19.0+ MB

In [35]:
df_LA['start_time'] = pd.to_datetime(df_LA['start_time'])
df_LA['end_time'] = pd.to_datetime(df_LA['end_time'])
df_LA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311894 entries, 0 to 311893
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   start_time          311894 non-null  datetime64[ns]
 1   end_time            311894 non-null  datetime64[ns]
 2   start_station_id    311894 non-null  int64
 3   end_station_id      311894 non-null  int64
 4   bike_id             311894 non-null  int64
 5   user_type           311894 non-null  object
 6   start_station_name  311894 non-null  object
 7   end_station_name    311894 non-null  object
dtypes: datetime64[ns](2), int64(3), object(3)
memory usage: 19.0+ MB

In [42]:
def calculate_trip_time(df):
    # calculate the total trip duration in hours
    df['trip_duration'] = df.apply(lambda x: x['end_time'] - x['start_time'], axis=1) / pd.Timedelta(hours=1)
    return df

In [43]:
calculate_trip_time(df_LA)

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,start_station_name,end_station_name,trip_duration
0,2018-01-01 00:04:00,2018-01-01 00:25:00,3063,3018,5889,Walk-up,Pershing Square,Grand & Olympic,0.350000
1,2018-01-01 00:05:00,2018-01-01 00:25:00,3063,3018,6311,Walk-up,Pershing Square,Grand & Olympic,0.333333
2,2018-01-01 00:06:00,2018-01-01 00:25:00,3063,3018,5753,Walk-up,Pershing Square,Grand & Olympic,0.316667
3,2018-01-01 00:13:00,2018-01-01 00:35:00,3018,3031,6220,Monthly Pass,Grand & Olympic,7th & Spring,0.366667
4,2018-01-01 00:14:00,2018-01-01 00:59:00,4204,4216,12436,Monthly Pass,Washington & Abbot Kinney,17th St / SMC E Line Station,0.750000
...,...,...,...,...,...,...,...,...,...
311889,2018-12-31 23:46:00,2018-12-31 23:55:00,3069,3069,6222,Walk-up,Broadway & 3rd,Broadway & 3rd,0.150000
311890,2018-12-31 23:47:00,2018-12-31 23:54:00,3069,3069,5730,Walk-up,Broadway & 3rd,Broadway & 3rd,0.116667
311891,2018-12-31 23:51:00,2019-01-01 01:28:00,4211,4210,12347,Walk-up,Pacific & North Venice,Ocean Front Walk & North Venice,1.616667
311892,2018-12-31 23:54:00,2019-01-01 00:22:00,3005,3082,12128,Walk-up,7th & Flower,Traction & Rose,0.466667
311893,2018-12-31 23:56:00,2019-01-01 00:22:00,3005,3082,12017,Walk-up,7th & Flower,Traction & Rose,0.433333

In [44]:
df_LA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311894 entries, 0 to 311893
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   start_time          311894 non-null  datetime64[ns]
 1   end_time            311894 non-null  datetime64[ns]
 2   start_station_id    311894 non-null  int64
 3   end_station_id      311894 non-null  int64
 4   bike_id             311894 non-null  int64
 5   user_type           311894 non-null  object
 6   start_station_name  311894 non-null  object
 7   end_station_name    311894 non-null  object
 8   trip_duration       311894 non-null  float64
dtypes: datetime64[ns](2), float64(1), int64(3), object(3)
memory usage: 21.4+ MB